# Used by postgres image to bootstrap the DB (first run only)
POSTGRES_DB=myappdb
POSTGRES_USER=myapp
POSTGRES_PASSWORD=changeMeStrongPassword

# Restrict which IP/CIDR can connect (e.g., your App VM only)
APP_VM_CIDR=192.168.56.0/24
