[Unit]
Description=MyProject App Stack (Blue/Green)
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
WorkingDirectory=/home/gdragos/app
EnvironmentFile=-/etc/myproject/app.env
ExecStart=/usr/bin/docker compose -f /home/gdragos/app/docker-compose.yml up -d
ExecStop=/usr/bin/docker compose -f /home/gdragos/app/docker-compose.yml down
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
